h1 {
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 5px;
}
h2 {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
}
i {
  color: #000;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.search-icon {
  cursor: pointer;
}
.has-feedback {
  position: relative;
  display: inline-block;
  float: right;
  width: 280px;
}
.search {
  margin: -8px;
  padding: 16px;
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;
  color: #fff;
}
.attr {
  text-align: left;
  display: inline;
  margin-left: -15px;
}
.rounded-edges {
  border-radius: 20px;
}
